/*--------------- general-------------- */
$primary_color: #9356DC ;
$secondary_color: #ff79da ; 
$third_color: #99e2d0 ;
$light_primary:#c9abec;
@font-face {
    font-family: "shrikhand";
    src: url("template/Shrikhand-Regular.otf");
}
@font-face{    
    font-family: "roboto";
    src: url("template/Roboto-Regular.ttf");
}

/* ---------- general ----------*/

body {
    width: 100%;
    margin: 0;
    font-family: "roboto", arial, serif;
}

header h1 {
    text-align: center;
    font-size: 10vw;
    font-family: "shrikhand", arial, serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.general_btn {
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: $primary_color;
    background-image: linear-gradient(to bottom right, $secondary_color, rgba(255,255,255,0));
    padding: 0.8rem;
    border-radius: 2rem;
    color: white;
    box-shadow: 6px 6px 10px lightgray;
    transition: all 700ms;
    &:hover {
        background-color: $light_primary;
        box-shadow: 6px 6px 10px gray;
    }
}

a {
    color: black;
    &:visited {
    color: black;
    }
}

/* ---------- home page ----------- */

.spinner {
    width: 100vw;
    height: 400vw;
    position: absolute;
    margin: auto;
    background-color: white;
    z-index: 10;
    animation: timer-spinner 3s forwards ease-out;
}

@keyframes timer-spinner {
    0%, 90% {
        opacity: 1;
    } 100% {
        opacity: 0;    
        visibility: hidden;
    }
}
.rectangle-1, .rectangle-2 {
    width: 20%;
    height: 5%;
    background-color: $primary_color;
    opacity: 0.6;
    position: absolute;
    top: 40px;
    left: 40%;
    animation: loading-spinner 3s forwards ease-in-out;
}
.rectangle-2 {
    animation-delay: -1s;
}

@keyframes loading-spinner {
    0%, 100% {
        transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
    }
}
.fonctionnement {
    padding-bottom: 20px;
}

section {
    & h2, h3 {
        font-weight: bold;
    }
    & h2 {
        margin-block-start: 0;
        text-align: center;
    }
    & h3 {
        padding-left: 20px;
        font-size: 1.8em;
    }
    & p {
        text-align: center;
    }
}

.location {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #cdcdc1;
    border-top: 2px solid grey;
    & .fas {
        padding-right: 10px;
    }
}

.home_top {
    background-color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 50px;
}

.ope_btn {
    width: 70vw;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: whitesmoke;
    transition: all 500ms;
    & .fas {
        color: black;
        transition: all 500ms;
    }
    &:hover {
        background-color: lighten($primary_color, 35%);
        .fas {
            color: $primary_color;
        }
    }
}

.number {
    background-color: $primary_color;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-left: -14px;
}

.operation {
    border-radius: 15px;
    box-shadow: 4px 4px 10px lightgrey;
    width: 70vw;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 3.8vw;
}

.fa-mobile-alt, .fa-bars, .fa-store {
    padding-left: 30px;
    padding-right: 20px;
}

.list_restaurant {
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 30px;
}

.restaurant {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 1.3rem;
    box-shadow: 4px 4px 10px lightgrey;

    & img {
        width: 100%;
        border-radius: 1.3rem 1.3rem 0 0;
    }
}

.restau__low {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & a {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 6vw;
    }
    & span {
        font-size: 5vw;
    }
}

.fa-heart {
    font-size: 2em;
}

.heart_restau {
    width: 60px;
    height: 60px;
    background: url("picture/favorite_border-black-18dp.svg");
    background-size: cover;
    cursor: pointer;
    transition: all 500ms;
     &:hover {
        background: url("picture/favorite-black-18dp.svg");
        background-size: cover;
    }
}

footer {
    padding-top: 20px;
    background-color: rgb(49, 49, 49);
    color: white;
    & h2 {
        padding-top: 10px;
        margin-left: 20px;
        font-family: "shrikhand", arial, serif;
        font-weight: normal;
        margin-block-end: 0;
        margin-block-start: 0;
        font-size: 1.6em;
    }
    & p {
        line-height: 2em;
        padding-bottom: 10px;
        margin-left: 20px;
        margin-bottom: 0px;
    }
    & a {
        color: white;
    }
}

.fa-utensils, .fa-handshake {
    padding-right: 10px;
}

/* --------------page restaurant------------- */


.header__resto {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.arrow {
    position: absolute;
    font-size: 8vw;
    padding-top: 20px;
    left: 3%;
}

.resto_top {
    width: auto;
    background-size: cover;
}

.resto_a_la_fr {
    background-image: url("picture/a-la-francaise.jpg");
}

.resto_delice {
    background-image: url("picture/le-delice-des-sens.jpg");
}

.resto_enchant {
    background-image: url("picture/note.png");
}

.resto_palette {
    background-image: url("picture/la-palette-du-gout.jpg");
}

.resto_top_empty {
    height: 200px;
}

.resto_name {
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "shrikhand", arial, serif;
    font-size: 1.8em;
    border-radius: 20px 20px 0 0;
    text-align: center;
}

.line_dish {
    clear: both;
    border-top: 4px solid $third_color;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.entree, .main_dish, .dessert {
    background-color: whitesmoke;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    & h4 {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-top: 20px;
        padding-left: 20px;
        font-size: 1.2em;
    }
}

.entree {    
    animation: timer-group 2s forwards;
}

.main_dish {
    animation: timer-group 4s forwards;
}

.dessert {
    animation: timer-group 6s forwards;
}

@keyframes timer-group {
    0%,80% {opacity: 0;} 100% {opacity: 1;}
}

.dish_btn {
    background-color: white;
    box-shadow: 4px 4px 8px lightgrey;
    border-radius: 15px;
    height: 18vw;
    display: flex;    
    justify-content: space-between;
    padding-left: 20px;
    align-items: center;
    position: relative;

    margin-bottom: 20px;
    & h2 {
        font-size: 4.5vw;
        text-align: left;
        padding-left: 10px;
    }
    & h3 {
        font-size: 3.5vw;
        text-align: left;
        font-weight: normal;
    }
}


.val_btn {
    width: 15%;
    height: 18vw;
    margin-left: auto;
    z-index: 3;
    position: relative;
    opacity: 0;
    cursor: pointer;
    transition: all 1s;

   &:hover {
       width: 30%;
       &+ .name_dish {
        width: 70%;
        }
        &~ .price {
        transform: translate(-100%, 0);
        border-radius: 0;
        }
        &~ .checked span {
            transform: translateX(0%);
        }
    }
}

.name_dish {
    width: 85%;
    z-index: 0;
    position: absolute;
    left: 0%;
    transition: all 1s;
    & h3, h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }    
}

.price{
    width: 15.2%;
    height: 18vw;
    z-index: 2;
    position: absolute;
    right: 0%;
    border-radius: 0 15px 15px 0;
    transition: transform 1s;
    background-color: white;
    font-size: 4vw;
}

.checked {
    width: 15%;
    height: 18vw;
    border-radius: 0 15px 15px 0;
    position: absolute;
    z-index: 1;
    right: 0%;
    background-color: $third_color;
    display: flex;
    justify-content: center;
    overflow: hidden;
    & span {
        display: inline-block;
        margin: auto;
        transform: translateX(400%) rotate(180deg);
        transition: transform 1s;
        font-size: 4vw;
    }
}



.back-command {
    background-color: whitesmoke;
    padding-top: 30px;
}

/* --------------- Media query ------------- */

@media screen and (min-width: 721px) and (max-width: 1279px) {

    header h1, .arrow {
        font-size: 6em;
    }
    
    .restaurant {
        width: 40%;
    }

    .box_restaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .resto_top_empty {
        height: 400px;
    }

    .entree, .main_dish, .dessert {
        padding-left: 50px;
        padding-right: 50px;
    }

    .dish_btn {
        & h2 {
            font-size: 1.8em;
        }
        & h3 {
            font-size: 1.5em;
        }
    }
    .general_btn {
        width: 40%;
    }

    .ope_btn {
        width: 60%;
    }

    .operation {
        font-size: 1em;
    }

    .restau__low {
        & a {
        font-size: 2.8vw;
        }
        & span {
            font-size: 2.2vw;
        }
    }

    .spinner{
        height: 150vw;
    }
    .rectangle-1, .rectangle-2 {
        height: 15%;
        top: 200px;
    }

    .dish_btn {
        height: 120px;
    }
    .val_btn {
        height: 120px;
        font-size: 1.5em;
        & p {
            margin-block-start: 30px;
        }
    }
    .price {
        height: 120px;
        font-size: 1.5em;
        & p {
            margin-block-start: 30px;
        }
    }
    .checked {
        height: 120px;
        & span {
            font-size: 2em;
        }
    }

}


@media screen and (min-width: 1280px) {

    body {
        width: 1280px;
        margin:auto;
    }

    header h1, .arrow {
        font-size: 6em;
    }
    .header__resto{position: relative;}
    .arrow {
        left: 0%;
    }
    
    header img { 
        width: 30%;
    }

    .general_btn {
        width: 20%;
    }

    h3 {
        text-align: center;
    }

    .ope_btn {
        width: 30%;
    }

    .operation {
        font-size: 1.2em;
    }

    .restaurant {
        width: 40%;
    }

    .box_restaurant {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer {
        text-align: center;
    }

    .resto_top_empty {
        height: 600px;
    }


    .resto_name {
        font-size: 3em;
    }

    .entree, .main_dish, .dessert {
        padding-left: 300px;
        padding-right: 300px;
    }

    .restau__low {
        & a {
        font-size: 2.5em;
        }
        & span {
            font-size: 2em;
        }
    }

    .spinner{
        width: 1280px;
        height: 1280px;
    }
    .rectangle-1, .rectangle-2 {
        height: 20%;
        top: 200px;
    }
    
    .dish_btn {
        & h2 {
            font-size: 1.8em;
        }
        & h3 {
            font-size: 1.5em;
        }
    }

    .dish_btn {
        height: 120px;
    }

    .val_btn {
        height: 120px;
        font-size: 1.5em;
        & p {
            margin-block-start: 40px;
        }
    }

    .price {
        height: 120px;
        font-size: 1.5em;
        & p {
            margin-block-start: 40px;
        }
    }

    .checked {
        height: 120px;
        & span {
            font-size: 2em;
            transform: translateX(300%) rotate(180deg);
        }
    }

}

